<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>Iconfont</title>

        <link rel="stylesheet" href="css/style.css">

        <style>
            .icon-font:before {
                transition: font-size 0.3s linear, color 0.3s linear;
            }

            .icon-font:hover:before {
                font-size: 350%;
                color: green;
            }
        </style>

    </head>
    <body>
        <div>
            <i class="icon-font icon-font-heart"></i>
        </div>
        <div>
            <i class="icon-font icon-font-hand21"></i>
        </div>
        <div>
            <i class="icon-font icon-font-right11"></i>
        </div>
    </body>
</html>
